
table {
    counter-reset: tableCount;
    line-height: 20px;
}
tr {
height: 14px;
}
.counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
}
<!--ul {list-style-type: decimal;}-->

.input1 {
  grid-area: input1;
  padding-left: 10px;
  background:#e0e0eb;
}
.input2 {
  grid-area: input2;
  padding-left: 10px;
  background:#e0e0eb;
}
.input3 {
  grid-area: input3;
  padding-left: 10px;
  margin-bottom: 5px;
  background:#e0e0eb;
}
.input4 {
  grid-area: input4;
  padding-left: 10px;
  padding-bottom: 5px;
  background:#e0e0eb;
}
.tab1 {
  grid-area: tab1;
  align-self: start;
}
.tab2 {
  grid-area: tab2;
  align-self: start;
}
.tab3 {
  grid-area: tab3;
  align-self: start;
}

.container {
  display: grid;
  width: auto;
  margin-left: 10 !important;
  gap: 5px 10px;
  grid-template-columns: 400px 900px;
  grid-template-rows: auto;
  grid-template-areas:
  "input4 input4"
    "input1 tab1"
    "input2 tab2"
    "input3 tab3";

}
label {
  width:180px;
  display: inline-block;
}
* {
  font-family: open-sans;
}


from Capex:

.image_capex {
  grid-area: image_capex;
}

.tab_capex {
  grid-area: tab_capex;
  align-self: top;
  background:lightblue;
}
.container_capex {
  display: grid;
  margin-left: 10px;
  gap: 10px 10px;
  grid-template-columns: 400px 500px;
  grid-template-rows: auto;
  grid-template-areas:
    "tab_capex image_capex";
    }

table {
    counter-reset: tableCount;
}
.counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
}
ul {list-style-type: decimal;}

from maintenance:

.image_main {
  grid-area: image_main;
}

.tab_main {
  grid-area: tab_main;
  align-self: start;
  background:lightblue;
}
.container_main {
  display: grid;
  margin-left: 10px;
  gap: 10px;
  grid-template-columns: 300px 900px;
  grid-template-rows: auto;
  grid-template-areas:
    "tab_main image_main";