<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css'>
    <title>{%block title%} S-Coupling Calculation Tool - TCO and Savings{%endblock%}</title>
</head>
<body>
<p class="text-center">
<span class="fs-1">Rotating Equipment TCO Calculator</span></p>
<p class="text-left">
<span class="fs-6">Description:  Total Cost of Ownership and comparison of direct drive and different methods of rotating equipment speed regulation (Fluid Coupling vs. Electric Variable Speed Drive). Input fields are in grey area.
</span></p>



<p></p>

{%block body%}{%endblock%}
</body>
</html>