{% extends 'base.html'%}

{%block title%}
CAPEX

{%endblock%}

{%block body%}

<style>

.image {
  grid-area: image;
  background:pink;
}

.tab {
  grid-area: tab;
  align-self: center;
  background:lightblue;
}
.container {
  display: grid;
  margin-left: 10px;
  gap: 10px 10px;
  grid-template-columns: 400px 1000px;
  grid-template-rows: 700px;
  grid-template-areas:
    "tab image";
    }

table {
    counter-reset: tableCount;
}
.counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
}
ul {list-style-type: decimal;}
</style>

<ul class="nav nav-tabs justify-content-center nav-fill" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="form" data-bs-toggle="tab" data-bs-target="#Entry form" type="button" role="tab" aria-controls="Entry form" aria-selected="false" href="/form_page">Entry form</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="capex" data-bs-toggle="tab" data-bs-target="#capex" type="button" role="tab" aria-controls="capex" aria-selected="true" href="/capex">CAPEX</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="efficiency" data-bs-toggle="tab" data-bs-target="#efficiency" type="button" role="tab" aria-controls="efficiency" aria-selected="false" href="/efficiency">Efficiency</a>
  </li>
    <li class="nav-item" role="presentation">
    <a class="nav-link" id="energy" data-bs-toggle="tab" data-bs-target="#energy" type="button" role="tab" aria-controls="energy" aria-selected="false" href="/energy">Energy Cost</a>
  </li>
    <li class="nav-item" role="presentation">
    <a class="nav-link" id="maintenance" data-bs-toggle="tab" data-bs-target="#maintenance" type="button" role="tab" aria-controls="maintenance" aria-selected="false" href="/maintenance">Maintenance Data</a>
  </li>
  </li>
    <li class="nav-item" role="presentation">
    <a class="nav-link" id="tco" data-bs-toggle="tab" data-bs-target="#tco" type="button" role="tab" aria-controls="tco" aria-selected="false" href="/tco">TCO</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="Entry form"></div>
  <div class="tab-pane fade" id="capex" role="tabpanel" aria-labelledby="capex"></div>
  <div class="tab-pane fade" id="efficiency" role="tabpanel" aria-labelledby="Efficiency"></div>
  <div class="tab-pane fade" id="energy" role="tabpanel" aria-labelledby="energy"></div>
  <div class="tab-pane fade" id="maintenance" role="tabpanel" aria-labelledby="maintenance"></div>
  <div class="tab-pane fade" id="tco" role="tabpanel" aria-labelledby="tco"></div>
</div>

<section class="container">
  <div class="tab">

<table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">component</th>
              <th scope="col">component price</th>
              <th scope="col">comments</th>

            </tr>
          </thead>
     <tbody>
     <!--{% for i in unit_components %}-->
            <!--<tr>-->
              <!--<td class="counterCell"></td>-->
              <!--<td>{{i.component}}</td>-->
              <!--<td>{{i.component_price}}</td>-->
              <!--<td>{{i.comments}}</td>-->
            <!--</tr>-->
     <!--{% endfor %}-->

     {% for i in user_components %}
            <tr >
              <td class="counterCell"></td>
              <td>{{i[0]}}</td>
              <td>{{i[1]}}</td>
              <td>{{i[2]}}</td>
                 </tr>
     {% endfor %}
          </tbody>
</table>
    <b>Total cost: {{total_capex_direct}} {{currency}}</b><br>
  </div>
<div class="image">
<img src="{{url_for('static', filename='capex.png')}}" align="middle" alt="Capex pic" width="1000" height="700"/>

  </div>
</section>

{%endblock%}